<div class="pre-footer">
  <span>{{>icons/blog/footer}}</span>
  <p class="pre-footer-text">
    <a href="https://aragon.black/" target="_blank" class="pink">Aragon Black</a> is the third full-team of the <a
      href="https://aragon.org/" target="_blank" class="pink">Aragon Project</a> taking part in its fight for freedom
    and full decentralization
  </p>
</div>
<div class="footer-section">
  <div class="section-container">
    <div class="footer-container">
      <div class="footer-item first-footer-item">
      </div>
      <div class="footer-item">
        <p class="title">Participate</p>
        <a href="mailto:nun@aragon.black">Share your vision</a>
        <a href="mailto:nun@aragon.black">Propose an article</a>
        <a href="mailto:nun@aragon.black">Get in touch</a>
      </div>
      <div class="footer-item">
        <p class="title">Explore Aragon project</p>
        <a href="https://forum.aragon.org/" target="_blank">Aragon forum</a>
        <a href="https://wiki.aragon.org/" target="_blank">Aragon wiki</a>
        <a href="https://aragon.chat/" target="_blank">Aragon chat</a>
      </div>
      <div class="footer-item mobile-full">
        <p class="title">Follow</p>
        <div class="footer-box top-footer-box">
          <a href="https://github.com/aragonblack" target="_blank"><img class="footer-logo-icon rounded-icon"
              src="https://blog.aragon.black/assets/footer/github.svg" /></a>
          <a href="https://twitter.com/AragonBlackTeam" target="_blank"><img class="footer-logo-icon rounded-icon"
              src="https://blog.aragon.black/assets/footer/twitter.svg" /></a>
        </div>
      </div>
    </div>
  </div>
</div>